.root{
    -fx-background-color: linear-gradient(#5356bd, #66ccff);
}

.text-field{
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.button{
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-background-color: transparent;
    -fx-border-width: .5;
    -fx-border-color: #006666;
}

.button:hover{
    -fx-background-color: linear-gradient(#66ccff, #5356bd);
}